.header {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 16px;
}
.header .menu-icon {
  display: block;
  width: 56px;
  height: 56px;
  margin: auto;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header .menu-icon {
    display: none;
  }
}
.header .navigation {
  display: none;
  margin: auto;
  animation: menu-in 1s ease;
}
.header .navigation.active {
  display: block;
}
@media (min-width: 768px) {
  .header .navigation {
    display: flex;
  }
}
.header .navigation ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .header .navigation ul {
    flex-direction: row;
    gap: 40px;
  }
}
.header .navigation ul a {
  text-decoration: none;
  color: #4e4b66;
}
.header .navigation ul a:hover {
  color: #f15a24;
}
.header .navigation ul .active {
  border-bottom: 2px solid #f15a24;
  color: #f15a24;
}
.header .btn {
  background-color: unset;
  border: 1px solid #f15a24;
  border-radius: 24px;
  height: 56px;
  color: #f15a24;
  font-weight: 700;
  padding: 18px 48px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header .btn:hover {
  background-color: #f15a24;
  color: white;
}
.header .btn:active {
  transform: scale(0.95);
}
.header .btn.active {
  background-color: #f15a24;
  color: white;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
    height: 120px;
    align-items: center;
    margin-top: 0;
  }
}
@media (min-width: 1920px) {
  .header {
    padding: 0;
  }
}

.roll-in-blurred-animation {
  animation: roll-in-blurred-left 2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes menu-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
  }
}
.hero h1 {
  margin: 0;
  font-weight: 900;
  color: #1a1a1a;
  text-align: center;
  font-size: 40px;
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 48px;
  }
}
@media (min-width: 1024px) {
  .hero h1 {
    text-align: left;
    width: 50%;
  }
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (min-width: 1024px) {
  .hero-content {
    align-items: flex-start;
    width: 50%;
  }
}
.hero-text {
  text-align: center;
}
@media (min-width: 1024px) {
  .hero-text {
    font-size: 20px;
    text-align: left;
  }
}
.hero-btn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f15a24;
  border: none;
  color: white;
  padding: 14px 32px;
  font-size: 16px;
  cursor: pointer;
  animation: pulse-animation 2s infinite;
}
@media (min-width: 1024px) {
  .hero-btn {
    padding: 18px 48px;
  }
}

@keyframes pulse-animation {
  0% {
    transform: rotate(0);
    background-color: #f15a24;
    border-radius: 0;
  }
  33% {
    transform: rotate(10deg);
    background-color: #a1360f;
    border-radius: 24px;
  }
  66% {
    transform: rotate(-10deg);
    background-color: #a1360f;
    border-radius: 24px;
  }
  100% {
    transform: rotate(0);
    border-radius: 0px;
    background-color: #f15a24;
  }
}
#contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
@media (min-width: 768px) {
  #contact-form {
    width: 600px;
    margin: auto;
  }
}
#contact-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#contact-form input,
#contact-form textarea {
  padding: 8px 16px;
  border: 1px solid #f15a24;
  border-radius: 4px;
}
#contact-form button {
  background-color: #f15a24;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#contact-form button:hover {
  background-color: #d4420e;
}

.announcement {
  display: none;
}
.announcement h2 {
  text-align: center;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
@media (min-width: 768px) {
  .service-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .service-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.service-list .service-card {
  border-radius: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 24px;
  transform: rotate(0deg);
  animation: rotate-little-in 0.5s ease;
}
@media (min-width: 768px) {
  .service-list .service-card {
    flex-grow: 0;
    align-items: flex-start;
    padding: 32px;
  }
}
.service-list .service-card:hover {
  transform: rotate(10deg);
  animation: rotate-little-out 0.5s ease;
}
.service-list .service-card h3 {
  color: #1a1a1a;
  font-size: 20px;
}
@media (min-width: 768px) {
  .service-list .service-card h3 {
    font-size: 24px;
  }
}
.service-list .service-card-text {
  font-size: 14px;
  text-align: center;
}
@media (min-width: 768px) {
  .service-list .service-card-text {
    text-align: left;
    font-size: 16px;
  }
}
.service-list .service-card-icon {
  width: 40px;
  height: 40px;
}

@keyframes rotate-little-in {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotate-little-out {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #4e4b66 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 60px;
}
@media (min-width: 768px) {
  body {
    margin: 0 auto;
    max-width: 1280px;
  }
}

main {
  padding: 0 16px;
  margin-bottom: 60px;
}
@media (min-width: 1920px) {
  main {
    padding: 0;
  }
}

p,
h3 {
  margin: 0;
}

.plan-image {
  width: 100%;
  height: auto;
  border-radius: 40px;
  height: 280px;
  margin-bottom: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .plan-image {
    height: 500px;
  }
}/*# sourceMappingURL=style.css.map */